
node_modules
npm-debug.log
pnpm-debug.log
yarn-debug.log
yarn-error.log

    
.next
out
build

.env
.env.*
!.env.example

.vscode
.idea
.DS_Store

    
logs/
*.log


*.tmp
*.swp
*.local


.git
.gitignore
